@model IEnumerable<Diplom.Models.Instruction>

@{
    ViewData["Title"] = "Инструкции";
}

<div class="row p-3 border rounded bg-light mb-4">
    <h1>Просмотр инструкций</h1>
    <p>
        <a asp-action="Create">Добавить инструкцию</a>
    </p>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Поиск: <input type="text" placeholder="название\описание" name="SearchString" value="@ViewData["CurrentFilter"]" />

                <button type="submit" class="btn btn-light">
                    <i class="bi bi-search"></i>
                </button>
                | <a asp-action="Index" class="btn btn-light"><i class="bi bi-x-lg"></i></a>

            </p>

        </div>
    </form>
</div>



<div class="container p-4">
@foreach(var item in Model)
{
    <div class="card text-center mb-3">
        <div class="card-header">
            @Html.DisplayFor(m=>item.Name)
            <div class="position-absolute top-0 end-0">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-light"><i class="bi bi-pencil"></i></a>
                | <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-light"><i class="bi bi-trash"></i></a>
            </div>
        </div>
       
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(m=>item.Name)</h5>
            <p class="card-text">@Html.DisplayFor(m=>item.Description)</p>
            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info">Читать</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
   
}
</div>
