@model PaginatedList<Diplom.Models.Instruction>


@{
    ViewData["Title"] = "Инструкции";
}

<div class="row p-3 border rounded bg-light mb-4">
    <div class="col-auto col-md-9 col-lg-9">
    <h1>Просмотр инструкций</h1>
    <p>
        <a asp-action="Create">Добавить инструкцию</a>
    </p>

    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Поиск: <input type="text" placeholder="название\описание" name="SearchString" value="@ViewData["CurrentFilter"]" />

                <button type="submit" class="btn btn-light">
                    <i class="bi bi-search"></i>
                </button>
                | <a asp-action="Index" class="btn btn-light"><i class="bi bi-x-lg"></i></a>
            </p>
        </div>
    </form>
    </div>
    <div class="dropdown mb-1 col-auto col-md-3 col-lg-3 align-self-end">
        <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Вариант сортировки
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item @(ViewData["CurrentSort"] == "date_asc" ? "active" : "")" asp-action="Index" asp-route-sortOrder="date_asc" asp-route-currentFilter="@ViewData["CurrentFilter"]">По дате (по возрастанию)</a></li>
            <li><a class="dropdown-item @(ViewData["CurrentSort"] == "date_desc" ? "active" : "")" asp-action="Index" asp-route-sortOrder="date_desc" asp-route-currentFilter="@ViewData["CurrentFilter"]">По дате (по убыванию)</a></li>
        </ul>
    </div>
</div>



<div class="container p-4">
@foreach(var item in Model)
{
    <div class="card text-center mb-3">
        <div class="card-header">
            @Html.DisplayFor(m=>item.Name)
            <div class="position-absolute top-0 end-0">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-light"><i class="bi bi-pencil"></i></a>
                | <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-light"><i class="bi bi-trash"></i></a>
            </div>
        </div>
       
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(m=>item.Name)</h5>
            <p class="card-text">@Html.DisplayFor(m=>item.Description)</p>
            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info">Читать</a>
        </div>
        <div class="card-footer text-muted">
            @Html.DisplayFor(m=>item.CreatedDate)
        </div>
    </div>  
}
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Назад
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Следующая
    </a>
</div>
