@model Diplom.Models.LogEntry

@{
    ViewData["Title"] = "Удаление записи";
}

<h1>Удаление записи</h1>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>
        @Html.DisplayFor(model => model.Name)
    </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Executor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Executor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Отмена</a>
    </form>
</div>
