@model Diplom.Models.Device

@{
    ViewData["Title"] = "Удаление устройства";
}

<h1>Удаление устройства</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Вы уверены, что хотите удалить устройство?</h3>
<div>
    <h4>Параметры устройства:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ImagePath" class="img-fluid rounded-start " alt="..." width="15%">
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-10">
            <p class="card-text">
                <small class="text-muted">
                    <a class="text-decoration-none text-reset" href="@Model.DocumentPath">
                        <i class="bi bi-filetype-pdf"></i>Просмотр документации
                    </a>
                </small>
            </p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-success">Отмена</a>
    </form>
</div>
