@model Diplom.Models.Device

@{
    ViewData["Title"] = "Описание оборудования";
}

<h1>Характеристики оборудования</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.ImagePath" class="img-fluid rounded-start " alt="..." width="20%">
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>
        <dd class = "col-sm-10">
            <p class="card-text">
                <small class="text-muted">
                    <a class="text-decoration-none text-reset" href="@Model.DocumentPath">
                        <i class="bi bi-filetype-pdf"></i>Просмотр документации
                    </a>
                </small>
            </p>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevicePlacements)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Места установки</th>
                    <th>Описание</th>
                </tr>
                @foreach (var item in Model.DevicePlacements!)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placement.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Placement.Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m=>m.AnalogDevice)
        </dt>
        <dd class="col-sm-10">
            @foreach (var a in Model.AnalogDevice)
            {

                <div>
                    @Html.DisplayFor(d => a.Analog.Name) 
                </div>
               
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(m=>m.QuantityInStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(m=>m.QuantityInStock)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Редактировать</a> |
    <a asp-action="Index">К списку</a>
</div>
