@model PaginatedList<Diplom.Models.Device>

@{
    ViewData["Title"] = "Оборудование";
}
<div class="row p-3 border rounded bg-light mb-4">
    <div class="col-auto col-md-9 col-sm-9 ">
    <h1>Просмотр оборудования</h1>

    @if (User.IsInRole("Administrator"))
    {
        <p>
            <a asp-action="Create">Добавить новое</a>
        </p>
    }
    else
    {
        <p class="mb-5"></p>
    }


    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Поиск: <input type="text" placeholder="Название\Описание" name="SearchString" value="@ViewData["CurrentFilter"]" />

                <button type="submit" class="btn btn-light">
                    <i class="bi bi-search"></i>
                </button>
                | <a asp-action="Index" class="btn btn-light"><i class="bi bi-x-lg"></i></a>

            </p>

        </div>
    </form>
    </div>
</div>

<div class="container-fluid p-4 mb-5">
<p class="mb-1">
    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" >Название</a>
</p>

    @foreach (var item in Model)
    {
    <div class="card mb-3" >
        <div class="row g-0">
            <div class="col-md-2">
                <img src="@item.ImagePath" class="img-fluid rounded " alt="..." width="155">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"><small class="text-muted"><a class="text-decoration-none text-reset" href="@item.DocumentPath">
                        <i class="bi bi-filetype-pdf"></i>Просмотр документации</a></small></p>
                </div>
            </div>
                @if (User.IsInRole("Administrator"))
                {
                    <div class="col-md-2">
                        <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    </div>
                }
                else
                {
                    <div class="col-md-2 align-self-baseline d-flex flex-row-reverse">
                        <a asp-action="Details" class="btn btn-secondary " asp-route-id="@item.ID"><i class="bi bi-info-circle"></i></a>
                    </div>
                }
            
        </div>
    </div>
    }


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Следующая
</a>
</div>
